.card
  .card-block
    .row
      .col-sm-11
        %p.card-text
          %span.text-muted
            = link_to message.user.full_name, '#'
            at
            = message.timestamp
            says:
          %br
          = message.body