.page-header
  %h1 #{@user.email} navigation
= paginate @events if @events.present?
%table.table
  %thead
    %tr
      %th Url
      %th Time
  %tbody
    - @events.each do |event|
      %tr
        %td= link_to event.url, event.url
        %td= local_datetime(event.created_at)
