login: &login
  adapter: postgresql
  encoding: utf8
  host: localhost
  username: username
  password: password

development:
  <<: *login
  database: like_dev

test:
  <<: *login
  database: like_test

production:
  <<: *login
  database: like_prod