/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.page.current, .page.gap {
  color: #ffffff;
}

[class*='col-'] {
  padding: 10px;
}

body, html {
  min-height: 100%;
}

body {
  padding-top: 60px;
  line-height: 1;
  background-color: #1d1d1d;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 22px;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #6bc5e1;
  &:hover, &:visited, &:active, &:focus {
    text-decoration: none;
  }
}

.footer {
  text-align: center;
  color: #7C7C7C;
  margin-top: 85px;
  padding-top: 25px;
}

.glyphicon-upload {
  color: #6bc5e1;
  &:hover {
    color: greenyellow;
  }
}

.glyphicon-trash {
  color: #6bc5e1;
  &:hover {
    color: red;
  }
}

.glyphicon-edit {
  color: #6bc5e1;
  &:hover {
    color: #ffcc00;
  }
}

.glyphicon-chevron-left {
  color: #6bc5e1;
  &:hover {
    color: #ffffff;
  }
}

.glyphicon-heart-empty {
  &:hover {
    color: #990073;
  }
}

.glyphicon-heart {
  color: #990073;
}

#comments {
  max-height: 450px;
  overflow-x: hidden;
}