/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";

* {
  color: #ffffff;
}

/*flash alert*/

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

/* js validation */

.error {
  height: 40px;
  border: 1px solid red;
}

.error input {
  height: 40px;
  border: 1px solid red;
  width: auto;
}

/*universal*/

html {
  overflow-y: scroll;
}

body {
  overflow: auto;
  line-height: 1;
  background-color: #0D0D0D;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 20px;
  padding: 50px;
}

#user_nav {
  text-align: right;
  padding-right: 20px;
  color: #ffffff;
}

h1, h2 {
  color: #ffffff;
}

a {
  color: #6bc5e1;
  padding-left: 5px;
  padding-top: 5px;
  &:hover {
    color: #ffffff;
  }
}

.template {
  display: none;
}

input[type=file],[type=email],[type=password],[type=text] {
  //opacity: 0;
  //position: absolute;
  height: 40px;
  cursor: pointer;
  color: #7C7C7C;
  width: auto;
}

form {
  text-align: left;
}

.actions {

}