/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/*flash alert*/

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

/* js validation */

.error {
  height: 40px;
  border: 1px solid red;
}

.error input {
  height: 40px;
  border: 1px solid red;
}

/*universal*/

.page.current, .page.gap {
  color: #ffffff;
}

a.navbar.nav {
  background-color: black;
  &:hover, &:focus, &:active, &:visited {
    background-color: black;
  }
}

body, html {
  min-height: 100%;
}

body {
  line-height: 1;
  background-color: #1d1d1d;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 22px;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #6bc5e1;
  padding-left: 5px;
  padding-top: 5px;
  &:hover, &:visited, &:active, &:focus {
    text-decoration: none;
  }
}

.template {
  display: none;
}

input[type=file],[type=email],[type=password],[type=text] {
  height: 40px;
  cursor: pointer;
  color: #7C7C7C;
}

input#image_picture {
  opacity: 0;
  position: absolute;
  margin-left: 100px;
  margin-top: 10px;
  width: 34px;
}

form {
  text-align: left;
  margin-top: 20px;
}

img {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #ffffff;
  &:hover {
    border: 1px solid #6bc5e1;
  }
}

.button {
  margin-top: 5px;
}

button {
  margin-left: 5px;
  margin-top: 5px;
}

.close {
  color:  #e60000;
  &:hover {
    color:  #e60000;
  }
}

input.btn-default.btn-lg {
  margin-top: 10px;
  z-index: 3;
}

.overlay {
  display: table-column-group;
  z-index: 3;
  color: #ffffff;
  position: absolute;
  margin-top: 150px;
  margin-left: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  width: 198px;
  text-align: left;
}

.delete-icon {
  position: absolute;
  margin-top: 15px;
  margin-left: 165px;
}

.glyphicon.glyphicon-trash {
  color: #6bc5e1;
  &:hover {
    color: red;
  }
}

.category-name {
  color: #6bc5e1;
  font-weight: bold;
}

.footer {
  text-align: center;
  color: #7C7C7C;
  margin-top: 85px;
  padding-top: 25px;
}

.glyphicon.glyphicon-upload {
  color: #ffffff;
  position: inherit;
  font-size: 1.3em;
}

.image-title {
  text-align: center;
}

label, h1, h2, h4, em, p {
  color: #ffffff;
}
.actions {
  margin-top: 5px;
}

.likes_count {
  display: inline-block;
  color: #ffffff;
}

.full-image {
  margin-top: 10px;
}

/* chat */

#messages {
  max-height: 450px;
  overflow-x: hidden;
}

.text-muted {
  color: #808080;
  font-size: 0.6em;
}

.card-text {
  word-wrap: break-word;
}
