body {
  background: image-url('background-01.jpg') no-repeat scroll center;
}

a {
  color: #6bc5e1;
  &:hover, &:visited, &:active, &:focus {
    text-decoration: none;
  }
}

.navbar-brand {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 1.875em;
}

.page-header {
  border-bottom: 2px solid #eeeeee;
}

.panel {
  -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.31);
}

[class*='col-'] {
  padding: 10px;
}

.tooltip {
  min-width: 150px;
}

.container {
  padding-top: 60px;
  line-height: 1;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 22px;
  -webkit-font-smoothing: antialiased;
}

.logo-small {
  font-size: 40px;
}

.glyphicon-upload {
  color: #6bc5e1;
  &:hover {
    color: greenyellow;
  }
}

.glyphicon-trash {
  &:hover {
    color: red;
  }
}

.glyphicon-edit {
  color: #ffcc00;
}

.glyphicon-chevron-left {
  color: #6bc5e1;
}

#comments {
  max-height: 450px;
  overflow-x: hidden;
}

h4 small {
  color: #563b3b;
}

ul.pagination {
  display:table;
  margin:0 auto;
}