#messages {
  max-height: 450px;
  overflow-x: hidden;
}

.text-muted {
  color: #47428e;
  font-size: 0.6em;
}

.card-text {
  word-break: break-all;
  table-layout: fixed;
  padding-left: 7px;
  word-wrap: break-word;
}