.page-header
  %h1 Categories
.row
  .col-sm-1
    = link_to new_category_path, data: { toggle: 'tooltip' }, title: 'Add category' do
      %span.glyphicon.glyphicon-folder-open
= paginate @categories if @categories.present?
.row
  - @categories.each do |category|
    .col-md-3.col-sm-6.col-xs-8
      - if category.images.any?
        = link_to (image_tag category.images.first.picture.url(:thumbnail), data: { toggle: 'tooltip' }, title: category.name, class: 'img-rounded'), category
      - else
        = link_to (image_tag 'empty-folder.png', data: { toggle: 'tooltip' }, title: category.name, class: 'img-rounded'), category