.page-header
  %h1 Categories
  %button.btn.btn-primary.btn-lg{ data: { target: '#myModal', toggle: 'modal' }, type: 'button' } Create new category
  #myModal.modal.fade{ role: 'dialog' }
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          %button.close{ data: { dismiss: 'modal' }, type: 'button' } ×
          %h3.modal-title New category
        .modal-body
          = render 'new_category_form'
.row
  - @categories.each do |category|
    .col-md-2.col-sm-4.col-xs-6
      = link_to category, data: { toggle: 'tooltip' }, title: category.name do
        = image_tag category.images.any? ? category.images.first.picture : 'empty-folder.png', size: '150'