.form-inline
  .form-group
    = form_for :image, method: :post, url: category_images_path(@category.images) do |f|
      = f.file_field :picture, class: 'form-control'
      = f.submit 'Upload', class: 'btn btn-lg btn-primary'