.page-header
  %h1 Images
.row
  - @images.each do |image|
    .col-xs-6.col-sm-6.col-md-3
      %a#like_or_unlike{ href: '#' }
        %span.glyphicon.glyphicon-heart
      .likes_count
        = image.likes.count
      = link_to (image_tag image.picture.url(:thumbnail), data: {toggle: 'tooltip', placement: 'bottom'},
                                                          title: image.title, class: 'img-rounded'), image
= paginate @images if @images.present?
